DEBZ_PROFILE=server
DEBZ_STORAGE_MODE=zfs
DEBZ_ENABLE_ZFS=1
DEBZ_ENABLE_EBPF=1
DEBZ_DISK=/dev/sda
DEBZ_HOSTNAME=monitoring
DEBZ_USERNAME=admin
DEBZ_PASSWORD=changeme
DEBZ_ROOT_PASSWORD=changeme
DEBZ_NET_METHOD=static
DEBZ_NET_IFACE=ens18
DEBZ_NET_IP=10.100.10.26
DEBZ_NET_PREFIX=24
DEBZ_NET_GW=10.100.10.1
DEBZ_NET_DNS=1.1.1.1,8.8.8.8
DEBZ_TEMPLATE=monitoring
DEBZ_ZFS_ENCRYPT=0
DEBZ_ZFS_BPOOL_SIZE_MIB=2048
DEBZ_ZFS_ASHIFT=12
DEBZ_FORCE_WIPE=1
